<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
	<key>UIAppFonts</key>
	<array>
        <string>defaultfont.ttf</string>
        <string>ffont37.ttf</string>
        <string>font2.ttf</string>
        <string>ffont.ttf</string>
        <string>ffont38.ttf</string>
        <string>font20.TTF</string>
        <string>ffont1.ttf</string>
        <string>ffont39.otf</string>
        <string>font21.ttf</string>
        <string>ffont10.ttf</string>
        <string>ffont4.ttf</string>
        <string>font22.otf</string>
        <string>ffont11.ttf</string>
        <string>ffont40.ttf</string>
        <string>font23.TTF</string>
        <string>ffont12.ttf</string>
        <string>ffont41.otf</string>
        <string>font24.ttf</string>
        <string>ffont13.ttf</string>
        <string>ffont42.ttf</string>
        <string>font25.ttf</string>
        <string>ffont14.ttf</string>
        <string>ffont43.ttf</string>
        <string>font26.ttf</string>
        <string>ffont15.ttf</string>
        <string>ffont44.ttf</string>
        <string>font27.ttf</string>
        <string>ffont16.ttf</string>
        <string>ffont45.ttf</string>
        <string>font28.ttf</string>
        <string>ffont17.ttf</string>
        <string>ffont46.otf</string>
        <string>font29.ttf</string>
        <string>ffont18.otf</string>
        <string>ffont47.ttf</string>
        <string>font3.ttf</string>
        <string>ffont19.ttf</string>
        <string>ffont48.ttf</string>
        <string>font30.ttf</string>
        <string>ffont19_orig.ttf</string>
        <string>ffont49.ttf</string>
        <string>font31.ttf</string>
        <string>ffont2.ttf</string>
        <string>ffont5.ttf</string>
        <string>font32.ttf</string>
        <string>ffont20.ttf</string>
        <string>ffont50.ttf</string>
        <string>font33.otf</string>
        <string>ffont21.ttf</string>
        <string>ffont51.ttf</string>
        <string>font34.TTF</string>
        <string>ffont22.ttf</string>
        <string>ffont52.ttf</string>
        <string>font35.TTF</string>
        <string>ffont23.ttf</string>
        <string>ffont6.ttf</string>
        <string>font36.ttf</string>
        <string>ffont24.ttf</string>
        <string>ffont7.otf</string>
        <string>font37.ttf</string>
        <string>ffont25.ttf</string>
        <string>ffont8.otf</string>
        <string>font38.ttf</string>
        <string>ffont26.ttf</string>
        <string>ffont9.ttf</string>
        <string>font39.ttf</string>
        <string>ffont27.ttf</string>
        <string>font1.ttf</string>
        <string>font4.ttf</string>
        <string>ffont28.ttf</string>
        <string>font10.ttf</string>
        <string>font40.ttf</string>
        <string>ffont29.ttf</string>
        <string>font11.ttf</string>
        <string>font41.ttf</string>
        <string>ffont3.ttf</string>
        <string>font12.ttf</string>
        <string>font42.ttf</string>
        <string>ffont30.ttf</string>
        <string>font13.ttf</string>
        <string>font43.ttf</string>
        <string>ffont31.ttf</string>
        <string>font14.ttf</string>
        <string>font44.ttf</string>
        <string>ffont32.ttf</string>
        <string>font15.ttf</string>
        <string>font5.ttf</string>
        <string>ffont33.ttf</string>
        <string>font16.ttf</string>
        <string>font6.ttf</string>
        <string>ffont34.ttf</string>
        <string>font17.ttf</string>
        <string>font7.ttf</string>
        <string>ffont35.ttf</string>
        <string>font18.ttf</string>
        <string>font8.ttf</string>
        <string>ffont36.ttf</string>
        <string>font19.ttf</string>
        <string>font9.TTF</string>
        <string>FlatFlight-Regular.ttf</string>
        <string>RetroHouse-Regular.ttf</string>
        <string>BlackMoon-Heavy.ttf</string>
        <string>MonzaRace-Regular.ttf</string>
        <string>OnyxClock-regular.ttf</string>
        <string>SecretSketch-Regular.ttf</string>
        <string>ScoobyDo-regular.ttf</string>
        <string>CommonRobot-regular.ttf</string>
        <string>TrickyGarlic-Bold.ttf</string>
        <string>ThickFocus-Regular.ttf</string>
        <string>DenimSister-Bold.ttf</string>
        <string>SimplyFossil-Regular.ttf</string>
        <string>OldEnglish-Regular.ttf</string>
        <string>RichOnion-Regular.ttf</string>
        <string>SpaceDoctor-regular.ttf</string>
        <string>HandyRabbit-Regular.ttf</string>
        <string>SpaceFact-Regular.ttf</string>
        <string>AutumnFlight-Medium.ttf</string>
        <string>FlatShadow-Regular.ttf</string>
        <string>CraftyPlate-regular.ttf</string>
        <string>CraftyWig-regular.ttf</string>
        <string>ProudBone-Western.ttf</string>
        <string>LavishOven-regular.ttf</string>
        <string>RichMotor-Bold.ttf</string>
        <string>BakedRage-Regular.ttf</string>
        <string>OpenSans-Light.ttf</string>
        <string>OpenSans-Extrabold.ttf</string>
        <string>OpenSans-Semibold.ttf</string>
        <string>ZenLoop-Regular.ttf</string>
        <string>SFProDisplay-Regular.ttf</string>
        <string>SFProDisplay-Medium.ttf</string>
	</array>
</dict>
</plist>
